<dialog open>
  @if(task) {
  <form>
    <h2>Edit Task</h2>
    <label>
      Title:
      <input [(ngModel)]="task.title" name="title" required />
    </label>
    <label>
      Summary:
      <textarea [(ngModel)]="task.summary" name="summary" required></textarea>
    </label>
    <label>
      Due Date:
      <input [(ngModel)]="task.dueDate" name="dueDate" type="text" required />
    </label>
    <button type="button" (click)="onEdit()">Save</button>
    <button type="button" (click)="onCancel()">Cancel</button>
  </form>
  } @else {
  <p>No task selected</p>
  }
</dialog>
